<template>
    <v-app id="inspire">
        <v-main>
        <v-container
            class="fill-height"
            fluid
        >
            <v-row
            align="center"
            justify="center"
            >
            <v-col
                cols="12"
                sm="8"
                md="4"
            >

            <v-snackbar
                v-model="snackbar"
                >
                {{ text }}
                <v-btn
                    color="error"
                    text
                    @click="snackbar = false"
                    >
                    Close
                </v-btn>
            </v-snackbar>

                <v-card class="elevation-12">
                    <v-toolbar
                        color="error"
                        dark
                        flat
                    >
                        <v-toolbar-title>Login form</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                    <v-progress-linear
                        :active="loading"
                        :indeterminate="loading"
                        absolute
                        color="white accent-4"
                        >
                    </v-progress-linear>
                    <v-card-text>
                        <v-form>
                        <v-text-field
                            color="error"
                            label="Email"
                            v-model="email"
                            prepend-icon="mdi-account-circle-outline"
                            type="email"
                        ></v-text-field>

                        <v-text-field
                            color="error"
                            label="Password"
                            v-model="password"
                            prepend-icon="mdi-account-lock-outline"
                            type="password"
                        ></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="error" width="100%" @click="login">Login</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
            </v-row>
        </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    
    data(){
        return {
            email: '',
            password: '',
            loading: false,
            snackbar: false,
            text: '',
            
        }
    },
    created(){

        this.$vuetify.theme.dark = true;

    },

    methods: {

        login: function(){

            axios.interceptors.request.use((config) => {

                this.loading = true;
                return config;

            }, (error) => {

                this.loading = false;
                
                return Promise.reject(error);
            });

            // Add a response interceptor
            axios.interceptors.response.use( (response) => {

                this.loading = false;

                return response;
            }, (error) => {

                this.loading = false;
                
                return Promise.reject(error);
            });

            axios.post('/api/login',{'email': this.email, 'password': this.password})
            .then(res => {

                localStorage.setItem('token' , res.data.token)

                this.$router.push('/admin')
                .then(res => console.log('Logged In'))
                .catch(err => console.log(err))

            }).catch(err => {
                this.text = err.response.data.status;
                this.snackbar = true;
                })
                
        }

    }
}
</script>

<style scoped>

</style>